<div>
  <div *ngIf="!showAddForm">
    <button (click)="addNote()" style="cursor: pointer;">Add Note</button>
  </div>
  <div *ngIf="showAddForm">
    <div>
      <label>Title:</label>
      <div>
        <input type="text" name="title" [(ngModel)]="model.title">
      </div>
    </div>
    <div>
      <label>Content:</label>
      <div>
        <input type="text" name="content" [(ngModel)]="model.content">
      </div>
    </div>
    <div>
      <button (click)="submitAddNote()" style="cursor: pointer;">Submit</button>
    </div>
  </div>
  <div>
    <table class="table">
      <thead class="table table-dark-head">
          <tr>
              <th>Title</th>
              <th>Content</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let note of notes">
              <td>{{note.title}}</td>
              <td>{{note.content}}</td>
              <td>
                <span><i (click)="editNote(note)" class="fa fa-edit" style="color: green;cursor: pointer;"></i></span>
                <span><i (click)="deleteNote(note)" class="fa fa-trash" style="color: red;cursor: pointer;"></i></span>
              </td>
            </tr>
      </tbody>
    </table>
  </div>
</div>

